<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEVIL INC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="cont" align="center">
      <img class="head-img" src="/images/dem.jpg" alt="">
      <h1 class="head">
        DEVIL INC
      </h1>
      <p>A deal stronger than Hercules</p>
      <h2 class="head">CONGRATULATIONS, <%= name %></h2>
      <p>ENJOY</p>
    </div>
</body>
</html>