<!DOCTYPE html>
<html>
  <head>
    <title>DEVIL INC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      
    <div class="cont">
      <img class="head-img" src="/images/dem.jpg" alt="">
      <h1 class="head">
        DEVIL INC
      </h1>
      <p>A deal stronger than Hercules</p>
      <h3>Terms of Infernal Agreement</h3>
      <ul>
        <li>Once the deal is made it cannot be undone. Even God cannot undo it.</li>
        <li>Upon completion of the deal, your eternal soul will be transferred to the Department of Tormented Entities, Sublevel 666.</li>
        <li>A small vial (15ml) of your blood will be collected annually for demonic administrative purposes.</li>
        <li>The Devil reserves the right to appear in your dreams, nightmares, or awkward flashbacks at any time.</li>
        <li>Attempting to contact angels, priests for spiritual bail-outs is considered breach of contract.</li>
        <li>Very family friendly</li>
      </ul>
      <form action="/agreement" method="post">
        <input type="text" name="name" id="name" placeholder="Full Name">
        <br>
        <label for="soul">Deduced soul amount</label>
        <select name="soul" id="soul">
          <option value="1/3">1/3</option>
          <option value="2/3">2/3</option>
          <option value="1/4">1/4</option>
          <option value="ENTIRETY">ENTIRETY</option>
        </select> <br>
        <textarea name="message" id="message" placeholder="What you want shall be perished"></textarea> <br>
        <input type="submit" value="BOND" />
      </form>
    </div>
    <img src="/images/def.jpg" alt="" class="side">
    </main>
  </body>
</html>
